{% extends "base.html" %}
{% block body %}
    <div class="container">
        <div class="row bordered">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <form action="{{ url_for('process_data') }}" enctype="multipart/form-data" method="POST">
              <fieldset>
                <h2>Upload a file</h2>
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" name="name"
                  id="name" aria-describedby="emailHelp" placeholder="Enter Name">
                  <small id="emailHelp" class="form-text text-muted">Choose something that truly embodies the esssence of your data</small>
                <div class="form-group" >
                  <label for="file">Image input</label>
                  <input type="file" class="form-control-file" name="image" id="file" aria-describedby="fileHelp">
                  <small id="fileHelp" class="form-text text-muted">This is a scan/picture of your physical agreement</small>
                </div>
                <h2>OR</h2>
                <div class="form-group" >
                  <label for="url_string">URL</label>
                  <textarea class="form-control" name="url_string" id="desc" rows="1"></textarea>
                </div>
                <fieldset class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary btn-block" >
              </fieldset>
            </form>
          </div>
        </div>
    </div>
    
    
   <style type="text/css">
     .bordered {
       border: 2px solid #F1F1F1;
       padding-top: 50px;
       padding-bottom: 50px;
     }
   </style>
{% endblock %}